
<div class="left-sidebar">
  <h2>Danh mục</h2>
  <div class="panel-group category-products" id="accordian"><!--category-productsr-->
    <a href="/product/allProduct?page=1&limit=9&offset=0">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Tất cả</h4>
        </div>
      </div>
    </a>
  </div><!--/category-products-->

  <h2>Loại xe</h2>
  <div class="panel-group category-products" id="accordian"><!--category-productsr-->
    {{#each menu.catelogies.type}}
    <a href="/product/catelogies?att=_type&val={{_type}}">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">{{_type}}</h4>
        </div>
      </div>
    </a>
    {{/each}}
  </div><!--/category-products-->

  <h2>Thương hiệu</h2>
  <div class="panel-group category-products" id="accordian"><!--category-productsr-->
    {{#each menu.catelogies.brand}}
    <a href="/product/catelogies?att=_brand&val={{_brand}}">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">{{_brand}}</h4>
      </div>
    </div>
    </a>
    {{/each}}
  </div>

  {{!-- <div class="price-range"><!--price-range-->
    <h2>Khoảng giá</h2>
    <div class="well text-center">
        <input type="text" class="span2" value="" data-slider-min="0.5" data-slider-max="10" data-slider-step="0.5" data-slider-value="[1,5]" id="sl2" ><br />
        <b class="pull-left">0,5 tỷ</b> <b class="pull-right">10 tỷ</b>
    </div>
  </div><!--/price-range--> --}}
</div>
