<div id='history-transactions' class='row'>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">ID Giao dịch</th>
            <th scope="col">Ngày giao dịch</th>
            <th scope="col">Sản phẩm</th>
            <th scope="col">Tổng tiền</th>
            <th scope="col">Trạng thái giao dịch</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>123456</td>
            <td>1/1/2018</td>
            <td>Audi Q5 2.0 2017</td>
            <td>1,800,000,000 đ</td>
            <td>Đã giao hàng thành công</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>123987</td>
            <td>30/4/2018</td>
            <td>Audi Q2 1.0 2017</td>
            <td>830,000,000 đ</td>
            <td>Đã giao hàng thành công</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>145672</td>
            <td>30/4/2018</td>
            <td>Audi S1 2.0 2015</td>
            <td>1,200,000,000 đ</td>
            <td>Đã giao hàng thành công</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>