<div class="shop-menu">
  <h2 class="title text-center">Sản phẩm</h2>
  <div id="sort-by" class="col-sm-8">
    <ul class="nav navbar-nav shop-menu">
      <li><a id="_storeDate" class="active" href="{{url}}?sortBy=_storeDate&order=DESC">Mới nhất</a></li>
      <li><a id="_salesVolume" href="{{url}}?sortBy=_salesVolume&order=DESC">Bán chạy nhất</a></li>
      <li><a id="_viewed" href="{{url}}?sortBy=_viewed&order=DESC">Xem nhiều nhất</a></li>
    </ul>
  </div>
</div>