<div class="left-sidebar">
  <h2>Loại xe</h2>
  <div class="panel-group category-products" id="accordian"><!--category-productsr-->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title"><a href="#">SUV</a></h4>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title"><a href="#">Coupe</a></h4>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title"><a href="#">Convertible</a></h4>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title"><a href="#">Sedan</a></h4>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title"><a href="#">MVP</a></h4>
      </div>
    </div>
  </div><!--/category-products-->

  <div class="brands_products"><!--brands_products-->
    <h2>Thương hiệu</h2>
    <div class="brands-name">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="#"> <span class="pull-right">(50)</span>Audi</a></li>
        <li><a href="#"> <span class="pull-right">(56)</span>BMW</a></li>
        <li><a href="#"> <span class="pull-right">(27)</span>Ford</a></li>
        <li><a href="#"> <span class="pull-right">(32)</span>Honda</a></li>
        <li><a href="#"> <span class="pull-right">(9)</span>Lexus</a></li>
        <li><a href="#"> <span class="pull-right">(9)</span>Mercle </a></li>
        <li><a href="#"> <span class="pull-right">(5)</span>Toyota</a></li>
      </ul>
    </div>
  </div><!--/brands_products-->

  <div class="price-range"><!--price-range-->
    <h2>Khoảng giá</h2>
    <div class="well text-center">
        <input type="text" class="span2" value="" data-slider-min="0.5" data-slider-max="10" data-slider-step="0.5" data-slider-value="[1,5]" id="sl2" ><br />
        <b class="pull-left">0,5 tỷ</b> <b class="pull-right">10 tỷ</b>
    </div>
  </div><!--/price-range-->
</div>