<div class='right_col' role='main'>
  <!-- top tiles -->
  <div class="row tile_count">
    <div class="col-md-4 col-sm-12 col-xs-4 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Tổng người dùng</span>
      <div class="count">2500</div>
    </div>
    
    <div class="col-md-4 col-sm-12 col-xs-4 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Đơn đặt hàng</span>
      <div class="count">2,315</div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-4 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Sản phẩm đã bán</span>
      <div class="count">70,325</div>
    </div>
  </div>
</div>