<section><!--account-menu-->
  <div class="container">
    <div class='row'>
      <h2 class='title text-center'>Thanh toán</h2>
    </div>
    <div class='content'>
      {{> formCheckout}}
      {{!-- {{> profileHistoryTrans}} --}}
    </div>
  </div>
</section><!--account-menu-->