<section><!--account-menu-->
  <div class="container">
    <div class='row'>
      <h2 class='title text-center'>Tài khoản</h2>
    </div>
    <div class='row'>
      <div class='account-menu'>
        <ul>
          <li><a id='label-acc-update' value='#acc-update-infor' href='/profile'>Cập nhật thông tin</a></li>
          <li>|</li>
          <li><a id='label-acc-his-trans' class='active' value='#history-transactions' href='/profile/history-transaction'>Lịch sử mua hàng</a></li>
        </ul>
      </div>
    </div>
    <div class='content'>
      {{> histran}}
      {{!-- {{> profileHistoryTrans}} --}}
    </div>
  </div>
</section><!--account-menu-->