{{> slider}}
<section>
  <div class="container">
    <div class="row">
      {{!-- <div class="col-sm-3">
        {{>catelogies}}
      </div> --}}
      <div class="col-sm-12">
        <div class="shop-menu ">
            <h2 class="title text-center">Sản phẩm</h2>
            <div class="col-sm-8">
              <ul class="nav navbar-nav shop-menu">
                <li id="label-litems"><a class="active" value="#lastest-items">Mới nhất</a></li>
                <li id="label-bs-items"><a value="#best-seller-items">Bán chạy nhất</a></li>
                <li id="label-mv-items"><a value="#most-visited-items">Xem nhiều nhất</a></li>
              </ul>
            </div>
            <div class="col-sm-4">
              <div class="input-group">
                <div class="input-group-btn">
                  <button id="dropdown-order-panel" type="button" class="btn btn-default dropdown-toggle pull-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span id="dropdown-order-by">Thứ tự </span><span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu pull-right" aria-labelledby="dropdown-order-panel" role="menu">
                    <li><a href="#">A-Z</a></li>
                    <li><a href="#">Z-A</a></li>
                  </ul>
                </div>
                  <input type="hidden" name="order_param" value="all" id="order_param">
              </div>
            </div>
        </div><br>
        <div class="show-item">
          <div id="lastest-items"><!--features_items-->
            {{> showProduct}}
            {{!-- <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="product-image-wrapper">
                  <div class="single-products">
                      <div class="productinfo text-center">
                        <img src="/images/cars/audi-q5.jpg" alt="" />
                        <h2>1,820,000,000 đ</h2>
                        <p>Audi Q5 2.0 2017</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hành</a>
                      </div>
                      <div class="product-overlay">
                        <div class="overlay-content">
                          <h2>1,820,000,000 đ</h2>
                          <p>Audi Q5 2.0 2017</p>
                          <a href="#" class="btn btn-default add-to-cart"><i class="fa "></i>Xem chi tiết</a>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/images/cars/audi-q2.jpg" alt="" />
                      <h2>830,000,000 đ</h2>
                      <p>Audi Q2 1.0 2017</p>
                      <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hành</a>
                    </div>
                    <div class="product-overlay">
                      <div class="overlay-content">
                        <h2>830,000,000 đ</h2>
                        <p>Audi Q2 1.0 2017</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa "></i>Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end row-->

            <!--row 2-->
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/images/cars/audi-s1.jpg" alt="" />
                      <h2>1,200,000,000 đ</h2>
                      <p>Audi S1 2.0 2015</p>
                      <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hành</a>
                    </div>
                    <div class="product-overlay">
                      <div class="overlay-content">
                        <h2>1,200,000,000 đ</h2>
                        <p>Audi S1 2.0 2015</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa "></i>Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/images/cars/toyota-rav4.jpg" alt="" />
                      <h2>1,100,000,000 đ</h2>
                      <p>Toyota RAV4 2017</p>
                      <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hành</a>
                    </div>
                    <div class="product-overlay">
                      <div class="overlay-content">
                        <h2>1,100,000,000 đ</h2>
                        <p>Toyota RAV4 2017</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa "></i>Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--end row-->

            <!--new row 3-->
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/images/cars/ford-galaxy.jpg" alt="" />
                      <h2>1,200,000,000 đ</h2>
                      <p>Ford Galaxy 1.5 2015</p>
                      <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hành</a>
                    </div>
                    <div class="product-overlay">
                      <div class="overlay-content">
                        <h2>1,200,000,000 đ</h2>
                        <p>Ford Galaxy 1.5 2015</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa "></i>Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-sm-6">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/images/cars/bmw-216d.jpg" alt="" />
                      <h2>1,200,000,000 đ</h2>
                      <p>BMW 216D 2017</p>
                      <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hành</a>
                    </div>
                    <div class="product-overlay">
                      <div class="overlay-content">
                        <h2>1,200,000,000 đ</h2>
                        <p>BMW 216D 2017</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa "></i>Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--end row-->

            <!--row 4-->
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/images/cars/bmw-420i.jpg" alt="" />
                      <h2>1,600,000,000 đ</h2>
                      <p>BMW 420i 2017</p>
                      <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hành</a>
                    </div>
                    <div class="product-overlay">
                      <div class="overlay-content">
                        <h2>1,600,000,000 đ</h2>
                        <p>BMW 420i 2017</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa "></i>Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/images/cars/bmw-640i.jpg" alt="" />
                      <h2>3,200,000,000 đ</h2>
                      <p>BMW 640i 2015</p>
                      <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hành</a>
                    </div>
                    <div class="product-overlay">
                      <div class="overlay-content">
                        <h2>3,200,000,000 đ</h2>
                        <p>BMW 640i 2015</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa "></i>Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end row -->

            <!-- row 5 --->
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/images/cars/toyota-gt86.jpg" alt="" />
                      <h2>1,200,000,000 đ</h2>
                      <p>Toyota GT86 2016</p>
                      <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hành</a>
                    </div>
                    <div class="product-overlay">
                      <div class="overlay-content">
                        <h2>1,200,000,000 đ</h2>
                        <p>Toyota GT86 2016</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa "></i>Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/images/cars/lexus-rc.jpg" alt="" />
                      <h2>1,200,000,000 đ</h2>
                      <p>Lexus RC 2016</p>
                      <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hành</a>
                    </div>
                    <div class="product-overlay">
                      <div class="overlay-content">
                        <h2>1,200,000,000 đ</h2>
                        <p>Lexus RC 2016</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa "></i>Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--end row --> --}}
          </div><!--lastest_items-->

          <div id="best-seller-items"><!--best seller item-->
            <!--row 1-->
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/images/cars/audi-s1.jpg" alt="" />
                      <h2>1,200,000,000 đ</h2>
                      <p>Audi S1 2.0 2015</p>
                      <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hành</a>
                    </div>
                    <div class="product-overlay">
                      <div class="overlay-content">
                        <h2>1,200,000,000 đ</h2>
                        <p>Audi S1 2.0 2015</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa "></i>Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/images/cars/toyota-rav4.jpg" alt="" />
                      <h2>1,100,000,000 đ</h2>
                      <p>Toyota RAV4 2017</p>
                      <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hành</a>
                    </div>
                    <div class="product-overlay">
                      <div class="overlay-content">
                        <h2>1,100,000,000 đ</h2>
                        <p>Toyota RAV4 2017</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa "></i>Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--end row-->

            <!-- begin row 2 -->
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="product-image-wrapper">
                  <div class="single-products">
                      <div class="productinfo text-center">
                        <img src="/images/cars/audi-q5.jpg" alt="" />
                        <h2>1,820,000,000 đ</h2>
                        <p>Audi Q5 2.0 2017</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hành</a>
                      </div>
                      <div class="product-overlay">
                        <div class="overlay-content">
                          <h2>1,820,000,000 đ</h2>
                          <p>Audi Q5 2.0 2017</p>
                          <a href="#" class="btn btn-default add-to-cart"><i class="fa "></i>Xem chi tiết</a>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/images/cars/audi-q2.jpg" alt="" />
                      <h2>830,000,000 đ</h2>
                      <p>Audi Q2 1.0 2017</p>
                      <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hành</a>
                    </div>
                    <div class="product-overlay">
                      <div class="overlay-content">
                        <h2>830,000,000 đ</h2>
                        <p>Audi Q2 1.0 2017</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa "></i>Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end row-->

            <!--new row 3-->
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/images/cars/ford-galaxy.jpg" alt="" />
                      <h2>1,200,000,000 đ</h2>
                      <p>Ford Galaxy 1.5 2015</p>
                      <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hành</a>
                    </div>
                    <div class="product-overlay">
                      <div class="overlay-content">
                        <h2>1,200,000,000 đ</h2>
                        <p>Ford Galaxy 1.5 2015</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa "></i>Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-sm-6">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/images/cars/bmw-216d.jpg" alt="" />
                      <h2>1,200,000,000 đ</h2>
                      <p>BMW 216D 2017</p>
                      <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hành</a>
                    </div>
                    <div class="product-overlay">
                      <div class="overlay-content">
                        <h2>1,200,000,000 đ</h2>
                        <p>BMW 216D 2017</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa "></i>Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--end row-->

            <!--row 4-->
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/images/cars/bmw-420i.jpg" alt="" />
                      <h2>1,600,000,000 đ</h2>
                      <p>BMW 420i 2017</p>
                      <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hành</a>
                    </div>
                    <div class="product-overlay">
                      <div class="overlay-content">
                        <h2>1,600,000,000 đ</h2>
                        <p>BMW 420i 2017</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa "></i>Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/images/cars/bmw-640i.jpg" alt="" />
                      <h2>3,200,000,000 đ</h2>
                      <p>BMW 640i 2015</p>
                      <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hành</a>
                    </div>
                    <div class="product-overlay">
                      <div class="overlay-content">
                        <h2>3,200,000,000 đ</h2>
                        <p>BMW 640i 2015</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa "></i>Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end row -->

            <!-- row 5 --->
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/images/cars/toyota-gt86.jpg" alt="" />
                      <h2>1,200,000,000 đ</h2>
                      <p>Toyota GT86 2016</p>
                      <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hành</a>
                    </div>
                    <div class="product-overlay">
                      <div class="overlay-content">
                        <h2>1,200,000,000 đ</h2>
                        <p>Toyota GT86 2016</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa "></i>Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/images/cars/lexus-rc.jpg" alt="" />
                      <h2>1,200,000,000 đ</h2>
                      <p>Lexus RC 2016</p>
                      <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hành</a>
                    </div>
                    <div class="product-overlay">
                      <div class="overlay-content">
                        <h2>1,200,000,000 đ</h2>
                        <p>Lexus RC 2016</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa "></i>Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--end row -->
          </div><!--best seller item -->

          <div id="most-visited-items"><!--most visited item-->
            <!--row 4-->
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/images/cars/bmw-420i.jpg" alt="" />
                      <h2>1,600,000,000 đ</h2>
                      <p>BMW 420i 2017</p>
                      <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hành</a>
                    </div>
                    <div class="product-overlay">
                      <div class="overlay-content">
                        <h2>1,600,000,000 đ</h2>
                        <p>BMW 420i 2017</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa "></i>Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/images/cars/bmw-640i.jpg" alt="" />
                      <h2>3,200,000,000 đ</h2>
                      <p>BMW 640i 2015</p>
                      <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hành</a>
                    </div>
                    <div class="product-overlay">
                      <div class="overlay-content">
                        <h2>3,200,000,000 đ</h2>
                        <p>BMW 640i 2015</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa "></i>Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end row -->

            <!--row 2-->
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/images/cars/audi-s1.jpg" alt="" />
                      <h2>1,200,000,000 đ</h2>
                      <p>Audi S1 2.0 2015</p>
                      <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hành</a>
                    </div>
                    <div class="product-overlay">
                      <div class="overlay-content">
                        <h2>1,200,000,000 đ</h2>
                        <p>Audi S1 2.0 2015</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa "></i>Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/images/cars/toyota-rav4.jpg" alt="" />
                      <h2>1,100,000,000 đ</h2>
                      <p>Toyota RAV4 2017</p>
                      <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hành</a>
                    </div>
                    <div class="product-overlay">
                      <div class="overlay-content">
                        <h2>1,100,000,000 đ</h2>
                        <p>Toyota RAV4 2017</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa "></i>Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--end row-->

            <!--new row 3-->
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/images/cars/ford-galaxy.jpg" alt="" />
                      <h2>1,200,000,000 đ</h2>
                      <p>Ford Galaxy 1.5 2015</p>
                      <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hành</a>
                    </div>
                    <div class="product-overlay">
                      <div class="overlay-content">
                        <h2>1,200,000,000 đ</h2>
                        <p>Ford Galaxy 1.5 2015</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa "></i>Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-sm-6">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/images/cars/bmw-216d.jpg" alt="" />
                      <h2>1,200,000,000 đ</h2>
                      <p>BMW 216D 2017</p>
                      <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hành</a>
                    </div>
                    <div class="product-overlay">
                      <div class="overlay-content">
                        <h2>1,200,000,000 đ</h2>
                        <p>BMW 216D 2017</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa "></i>Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--end row-->

            <!-- begin row 4 -->
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="product-image-wrapper">
                  <div class="single-products">
                      <div class="productinfo text-center">
                        <img src="/images/cars/audi-q5.jpg" alt="" />
                        <h2>1,820,000,000 đ</h2>
                        <p>Audi Q5 2.0 2017</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hành</a>
                      </div>
                      <div class="product-overlay">
                        <div class="overlay-content">
                          <h2>1,820,000,000 đ</h2>
                          <p>Audi Q5 2.0 2017</p>
                          <a href="#" class="btn btn-default add-to-cart"><i class="fa "></i>Xem chi tiết</a>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/images/cars/audi-q2.jpg" alt="" />
                      <h2>830,000,000 đ</h2>
                      <p>Audi Q2 1.0 2017</p>
                      <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hành</a>
                    </div>
                    <div class="product-overlay">
                      <div class="overlay-content">
                        <h2>830,000,000 đ</h2>
                        <p>Audi Q2 1.0 2017</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa "></i>Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end row-->


            <!-- row 5 --->
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/images/cars/toyota-gt86.jpg" alt="" />
                      <h2>1,200,000,000 đ</h2>
                      <p>Toyota GT86 2016</p>
                      <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hành</a>
                    </div>
                    <div class="product-overlay">
                      <div class="overlay-content">
                        <h2>1,200,000,000 đ</h2>
                        <p>Toyota GT86 2016</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa "></i>Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/images/cars/lexus-rc.jpg" alt="" />
                      <h2>1,200,000,000 đ</h2>
                      <p>Lexus RC 2016</p>
                      <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hành</a>
                    </div>
                    <div class="product-overlay">
                      <div class="overlay-content">
                        <h2>1,200,000,000 đ</h2>
                        <p>Lexus RC 2016</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa "></i>Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--end row -->
          </div><!--the most viewed item-->
        </div>
      </div>
    </div>
  </div>
</section>



  
