<section>
  <div class="container">
    <div class="row">
      <h2 class="title text-center">Thành viên của nhóm</h2>
    </div>
    <div id="intro-member" class="row text-center">
      <div class="col-sm-3 col-sm-offset-2 text-center">
        <img class="img-circle" src="images/member/Huy_avatar.png" alt="">
      <h3><i>Web Developer</i></h3>
      <h3>1512197</h3>
      <h3>Lê Đình Việt Huy</h3>
      </div>
      <div class="col-sm-3 col-sm-offset-2 text-center">
        <img class="img-circle" src="images/member/DHT_avatar.jpg" alt="">
      <h3><i>Web Developer</i></h3>
      <h3>1312528</h3>
      <h3>Đặng Hữu Thành</h3>
      </div>
    </div>
  </div>
</section>