{{> slider}}
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        {{>catelogies}}
      </div>
      <div class="col-sm-9">
        <div class="shop-menu ">
            <h2 class="title text-center">Sản phẩm</h2>
            <div class="col-sm-8">
              <ul class="nav navbar-nav shop-menu">
                <li id="label-litems"><a class="active" value="#lastest-items">Mới nhất</a></li>
                <li id="label-bs-items"><a value="#best-seller-items">Bán chạy nhất</a></li>
                <li id="label-mv-items"><a value="#most-visited-items">Xem nhiều nhất</a></li>
              </ul>
            </div>
            <div class="col-sm-4">
              <div class="input-group">
                <div class="input-group-btn">
                  <button id="dropdown-order-panel" type="button" class="btn btn-default dropdown-toggle pull-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span id="dropdown-order-by">Thứ tự </span><span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu pull-right" aria-labelledby="dropdown-order-panel" role="menu">
                    <li><a href="#">A-Z</a></li>
                    <li><a href="#">Z-A</a></li>
                  </ul>
                </div>
                  <input type="hidden" name="order_param" value="all" id="order_param">
              </div>
            </div>
        </div><br>
        <div class="show-item">
          <div id="lastest-items"><!--features_items-->
            {{> showProduct}}
          </div><!--lastest_items-->

          <div id="best-seller-items"><!--best seller item-->
            {{> showProduct}} 
          </div><!--best seller item -->

          <div id="most-visited-items"><!-- most visited item-->
            {{> showProduct}}
          </div><!--the most viewed item-->
        </div>
      </div>
    </div>
  </div>
</section>



  
