{{> slider}}
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        {{>catelogies}}
      </div>
      <div class="col-sm-9">
        {{> shopMenu}}
        <br>
        <div class="show-item">
          <div id="lastest-items"><!--features_items-->
            {{> showProduct}}
          </div><!--lastest_items-->

          <div id="best-seller-items"><!--best seller item-->
            {{> showProduct}} 
          </div><!--best seller item -->

          <div id="most-visited-items"><!-- most visited item-->
            {{> showProduct}}
          </div><!--the most viewed item-->
        </div>
      </div>
    </div>
  </div>
</section>



  
